/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


:root{
  --bg:#0d0c22;
  --bgSoft:#2d2b42;
  --text:white;
  --textSoft:#e5e5e5;
  --btn:#3673fd;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: var(--bg);
  color: var(--text);
  /* width: 100vw; */
  /* height: 100vh; */
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  /* background-color: rebeccapurple; */
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width:1536px){
  .container{
    width: 1366px;
  }
}

@media (max-width:1366px){
  .container{
    width: 1280px;
  }
}

@media (max-width:1280px){
  .container{
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width:1024px){
  .container{
    width: 768px;
  }
}

@media (max-width:768px){
  .container{
    width: 640px;
  }
}

@media (max-width:640px){
  .container{
    width: 475px;
  }
}
@media (max-width:475px){
  .container{
    width: 380px;
  }
}